#button {
    display: inline-block;
    background-color: #FF4C29;
    box-shadow: 5px 5px 0px black;

    height: 60px;
    line-height: 60px;
    padding-left: 18px;
    padding-right: 20px;
    margin-right: 0;
    transition:  all 0.5s;
}

#button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right:  -20px;
    transition: 0.5s;
}

#button:hover span {
    padding-right: 25px;
}

#button:hover span:after {
    opacity: 1;
    right: 0;
}
